<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>RFC inamex</th>
      <th>Serie-Folio</th>
      <th>Fecha y hora</th>
      <th>Uso CFDI</th>
      <th>Forma de pago</th>
      <th>Metodo de pago</th>
      <th>Total</th>
      <th>Moneda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>IAU1411211Z5 Correcto</td>
      <td>None-None</td>
      <td>2021-10-05T11:21:48</td>
      <td>G03</td>
      <td>01</td>
      <td>PUE</td>
      <td>446.00</td>
      <td>MXN</td>
    </tr>
  </tbody>
</table>